.best-places-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
    margin-top: 20px;
  }
  
  .best-places-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .city-button {
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .city-button:hover {
    background-color: #f7f7f7;
  }
  
  .show-more {
    font-weight: bold;
    color: #007BFF;
  }
  h2{
    text-align:center;
    font-weight:700;
 }
  