/* MainSection4.css */

.section-5 img {
    display: flex;
    justify-content: space-around;
    height: auto !important;
    margin: 0;
    min-width: 1240px;
    width: 100% !important;
  }
  /* @media (max-width: 375px) {
    .section-5 img {
        display: flex;
        justify-content: space-around;
        height: auto !important;
        width: 100vmax !important; 
        margin: 0;
      }
  }
  @media (max-width: 320px) {
    .section-5 img {
        display: flex;
        justify-content: space-around;
        height: auto !important;
        margin: 0 !important;
        width: 100vmax !important;
      }
  }
  @media (max-width: 1024px) {
    .section-5 img {
        display: flex;
        justify-content: space-around;
        height: auto !important;
        width: 100vmax !important; 
        margin: 0;
      }
  } */
